@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
        <h1 class="display-4">Bem-vindo</h1>
        <br />
        <div class="text-center">
            <table>
                <tr>
                    <td>
                        <p> Login: <input type="text" name="Login" size="40" /> </p>
                    </td>
                </tr>
            </table>
            <br />
            <table>
                <tr>
                    <td>
                        <p>Senha: <input type="text" name="Senha" size="40" /></p> 
                    </td>
                    <td>
                        <p><button>Entrar</button></p>
                    </td>
                </tr>
            </table>

            
        </div>
</div>
